<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.team2.mapper.ExhibitMapper">
    <select id="euro_exhibit" resultType="map">
        select tp.product_name, tp.product_cost, tp.product_brand, tp.sell_count, tp.created_at, te.exhibit_image
        from tbl_product tp
        left join tbl_exhibit te
        on tp.product_seq = te.product_seq
        where te.exhibit_num = #{exhibit_num}
    </select>

    <select id="cosmetics" resultType="map">
        SELECT s.product_seq,
               s.discounted_cost,
               s.product_code,
               s.product_name,
               s.product_info,
               s.product_detail,
               s.product_manufacture,
               s.product_brand,
               s.product_country,
               s.product_count,
               s.category_seq,
               s.product_cost,
               s.coupon_ratio,
               i.image_name
        FROM (
                 SELECT p.product_seq,
                        CASE
                            WHEN aa.coupon_ratio IS NULL THEN p.product_cost
                            ELSE p.product_cost * (1 - aa.coupon_ratio / 100)
                            END AS discounted_cost,
                        p.product_code,
                        p.product_name,
                        p.product_info,
                        p.product_detail,
                        p.product_manufacture,
                        p.product_brand,
                        p.product_country,
                        p.product_count,
                        p.category_seq,
                        p.product_cost,
                        CASE
                            WHEN aa.coupon_ratio IS NULL THEN
                                0
                            else
                                aa.coupon_ratio
                            END as coupon_ratio
                 FROM tbl_product p
                          JOIN (SELECT c.coupon_ratio,
                                            cp.product_seq
                                     FROM tbl_coupon c
                                              JOIN tbl_cp cp ON c.coupon_seq = cp.coupon_seq) aa
                                    ON p.product_seq = aa.product_seq
                 WHERE p.product_seq IN (SELECT product_seq
                                         FROM tbl_exhibit
                                         WHERE exhibit_num = #{exhibit_num})) s
                 JOIN tbl_image i ON s.product_seq = i.product_seq
        WHERE i.image_type = 'MAIN'
    </select>

    <select id="hit_product" resultType="map">
        SELECT s.product_seq,
               s.discounted_cost,
               s.product_code,
               s.product_name,
               s.product_info,
               s.product_detail,
               s.product_manufacture,
               s.product_brand,
               s.product_country,
               s.product_count,
               s.category_seq,
               s.product_cost,
               s.coupon_ratio,
               i.image_name
        FROM (
                 SELECT p.product_seq,
                        CASE
                            WHEN aa.coupon_ratio IS NULL THEN p.product_cost
                            ELSE p.product_cost * (1 - aa.coupon_ratio / 100)
                            END AS discounted_cost,
                        p.product_code,
                        p.product_name,
                        p.product_info,
                        p.product_detail,
                        p.product_manufacture,
                        p.product_brand,
                        p.product_country,
                        p.product_count,
                        p.category_seq,
                        p.product_cost,
                        CASE
                            WHEN aa.coupon_ratio IS NULL THEN
                                0
                            else
                                aa.coupon_ratio
                            END as coupon_ratio
                 FROM tbl_product p
                          JOIN (SELECT c.coupon_ratio,
                                            cp.product_seq
                                     FROM tbl_coupon c
                                              JOIN tbl_cp cp ON c.coupon_seq = cp.coupon_seq) aa
                                    ON p.product_seq = aa.product_seq
                 WHERE p.product_seq IN (SELECT product_seq
                                         FROM tbl_exhibit
                                         WHERE exhibit_num = #{exhibit_num})) s
                 JOIN tbl_image i ON s.product_seq = i.product_seq
        WHERE i.image_type = 'MAIN'
    </select>

    <select id="sort_exhibit" resultType="map">
        select tp.product_name, tp.product_cost, tp.product_brand, tp.sell_count, tp.created_at, te.exhibit_image
        from tbl_product tp
                 join tbl_exhibit te
                           on tp.product_seq = te.product_seq
        where te.exhibit_num = #{exhibit_num}
        order by ${sort_value}

    </select>
</mapper>