<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.team2.mapper.ProductMapper">
    <select id="getOne" resultType="org.team2.domain.ProductVO">
        SELECT p.product_seq,
               CASE
                   WHEN aa.coupon_ratio IS NULL THEN
                       p.product_cost
                   ELSE
                       p.product_cost * (1 - aa.coupon_ratio / 100)
                   END AS discounted_cost,
               p.product_code,
               p.product_name,
               p.product_info,
               p.product_detail,
               p.product_manufacture,
               p.product_brand,
               p.product_country,
               p.product_count,
               p.category_seq,
               p.product_cost,
               CASE
                   WHEN aa.coupon_ratio IS NULL THEN
                       0
                   ELSE
                       aa.coupon_ratio
                   END AS coupon_ratio
        FROM tbl_product p
                 LEFT JOIN (SELECT c.coupon_ratio,
                                   cp.product_seq
                            FROM tbl_coupon c
                                     RIGHT JOIN tbl_cp cp ON c.coupon_seq = cp.coupon_seq) aa
                           ON p.product_seq = aa.product_seq
        where p.product_seq = ${product_seq}
    </select>

    <select id="getUserOrder" resultType="map">
        select P.product_seq, P.product_code, O.order_seq, P.product_code, P.product_name, O.order_total_cost
        from tbl_product P,
             tbl_op OP,
             tbl_order O
        where P.product_seq = OP.product_seq
          and OP.order_seq = O.order_seq
          and O.user_seq = #{seq}
    </select>

    <select id="getProductInfo" resultType="map">
        select O.order_seq, P.product_code
        from tbl_product P,
             tbl_op OP,
             tbl_order O
        where P.product_seq = OP.product_seq
          and OP.order_seq = O.order_seq
          and O.order_seq = #{seq}
    </select>

    <select id="searchProducts" resultType="map" parameterType="map">
        SELECT *
        FROM (SELECT p.product_seq,
        CASE
        WHEN aa.coupon_ratio IS NULL THEN
        p.product_cost
        ELSE
        p.product_cost * (1 - aa.coupon_ratio / 100)
        END AS discounted_cost,
        p.product_code,
        p.product_name,
        p.product_info,
        p.product_detail,
        p.product_manufacture,
        p.product_brand,
        p.product_country,
        p.product_count,
        p.category_seq,
        p.product_cost,
        aa.coupon_ratio
        FROM tbl_product p
        LEFT JOIN (SELECT c.coupon_ratio,
        cp.product_seq
        FROM tbl_coupon c
        RIGHT JOIN tbl_cp cp ON c.coupon_seq = cp.coupon_seq) aa
        ON p.product_seq = aa.product_seq) s
        LEFT JOIN tbl_image i ON s.product_seq = i.product_seq
        WHERE (i.image_type = 'MAIN'
        OR i.image_type IS NULL)
        <if test="first_category != null">
            AND s.category_seq IN (SELECT category_seq
            FROM tbl_category
            WHERE category_ref = #{first_category})
        </if>
        <if test="second_category != null">
            AND s.category_seq = #{second_category}
        </if>
        <if test="search_text != null">
            AND s.product_name LIKE '%' ||  #{search_text} || '%'
        </if>
    </select>

    <select id="getAllWithCouponByFirstCategory" resultType="map">
        SELECT s.product_seq,
               s.discounted_cost,
               s.product_code,
               s.product_name,
               s.product_info,
               s.product_detail,
               s.product_manufacture,
               s.product_brand,
               s.product_country,
               s.product_count,
               s.category_seq,
               s.product_cost,
               s.coupon_ratio,
               i.image_name
        FROM (SELECT p.product_seq,
                     CASE
                         WHEN aa.coupon_ratio IS NULL THEN
                             p.product_cost
                         ELSE
                             p.product_cost * (1 - aa.coupon_ratio / 100)
                         END AS discounted_cost,
                     p.product_code,
                     p.product_name,
                     p.product_info,
                     p.product_detail,
                     p.product_manufacture,
                     p.product_brand,
                     p.product_country,
                     p.product_count,
                     p.category_seq,
                     p.product_cost,
                     CASE
                         WHEN aa.coupon_ratio IS NULL THEN
                             0
                         else
                             aa.coupon_ratio
                         END as coupon_ratio
              FROM tbl_product p
                       LEFT JOIN (SELECT c.coupon_ratio,
                                         cp.product_seq
                                  FROM tbl_coupon c
                                           RIGHT JOIN tbl_cp cp ON c.coupon_seq = cp.coupon_seq) aa
                                 ON p.product_seq = aa.product_seq
              WHERE p.category_seq IN (SELECT category_seq
                                       FROM tbl_category
                                       WHERE category_ref = ${category_seq})) s
                 LEFT JOIN tbl_image i ON s.product_seq = i.product_seq
        WHERE i.image_type = 'MAIN'
    </select>

    <select id="getMain" resultType="map">
        <![CDATA[
        SELECT *
        FROM (SELECT * FROM tbl_product)
        WHERE ROWNUM <= 10
        ]]>
    </select>

    <insert id="insert">
        INSERT INTO tbl_product (product_seq,
                                 product_code,
                                 product_name,
                                 product_info,
                                 product_detail,
                                 product_brand,
                                 product_manufacture,
                                 product_country,
                                 product_count,
                                 op2_seq1,
                                 op2_seq2,
                                 op2_seq3,
                                 op2_seq4,
                                 op2_seq5,
                                 category_seq,
                                 created_at,
                                 updated_at)
        VALUES (seq_product.NEXTVAL,
                #{product_code},
                #{product_name},
                #{product_info},
                #{product_detail},
                #{product_brand},
                #{product_manufacture},
                #{product_country},
                #{product_count},
                #{op2_seq1, jdbcType=VARCHAR},
                #{op2_seq2, jdbcType=VARCHAR},
                #{op2_seq3, jdbcType=VARCHAR},
                #{op2_seq4, jdbcType=VARCHAR},
                #{op2_seq5, jdbcType=VARCHAR},
                #{category_seq},
                sysdate,
                sysdate)
    </insert>

    <update id="update">
        UPDATE tbl_product
        SET PRODUCT_NAME        = #{product_name},
            PRODUCT_INFO        = #{product_info},
            PRODUCT_DETAIL      = #{product_detail},
            PRODUCT_BRAND       = #{product_brand},
            PRODUCT_MANUFACTURE = #{product_manufacture},
            PRODUCT_COUNTRY     = #{product_country},
            PRODUCT_COUNT       = #{product_count},
            OP2_SEQ1            = #{op2_seq1, jdbcType=VARCHAR},
            OP2_SEQ2            = #{op2_seq2, jdbcType=VARCHAR},
            OP2_SEQ3            = #{op2_seq3, jdbcType=VARCHAR},
            OP2_SEQ4            = #{op2_seq4, jdbcType=VARCHAR},
            OP2_SEQ5            = #{op2_seq5, jdbcType=VARCHAR},
            CATEGORY_SEQ        = #{category_seq},
            updated_at          = SYSDATE
        WHERE PRODUCT_SEQ = #{seq}
    </update>

    <delete id="delete">
        DELETE
        FROM tbl_product p
        WHERE p.product_seq = #{product_seq}
    </delete>
</mapper>